<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301441016374-pjjvmbahltvuq0r7a2ir8161fd64e34a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301441016374-pjjvmbahltvuq0r7a2ir8161fd64e34a</string>
	<key>API_KEY</key>
	<string>AIzaSyDK8PfvHMCDY_xV6holtrglgloHWl5nDc0</string>
	<key>GCM_SENDER_ID</key>
	<string>301441016374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findMyId</string>
	<key>PROJECT_ID</key>
	<string>findid</string>
	<key>STORAGE_BUCKET</key>
	<string>findid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301441016374:ios:76045d9cd744fcb84c6e97</string>
</dict>
</plist>